@media (max-width:600px) {
    .content .logo {
        margin: 30px 0;
        width: 100px;
    }

    .content .bg-mobile {
        display: block;
        margin-left: -40px;
        margin-right: -40px;
        width: calc(100% + 80px);
    }

    .content .title {
        font-size: 40px;
    }

    .container .left {
        width: 100%;
    }

    .container .right {
        display: none;
    }

}